<!DOCTYPE html>
{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body class="base">
    <div class="title">
        <img src="{% static 'images/logo-icon.png' %}" height=100% />
        <div class="title-word">
            <h1>Cloud Drive</h1>
        </div>
    </div>
    <div class="login-window">
        <div class="login-title">
            <div class="login-title-word">Log in</div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="input-area username">
                <h3>Username</h3>
                <input type="text" name="username" placeholder="username" required class="input-window">
            </div>
            <div class="input-area password">
                <h3>Password</h3>
                <input type="password" name="password" placeholder="password" required class="input-window">
            </div>
            <button class="login-btn">login</button>
            <a href="{% url 'register' %}" class="signup-btn">I don't have an account</a>
        </form>
    </div>
</body>

{% comment %} <body>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nome de Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se aqui</a>.</p> <!-- Link para a página de registro -->
</body> {% endcomment %}
</html>
